<server>
    <featureManager>
        <feature>ejbLite-3.1</feature>
        <feature>jsf-2.0</feature>
        <feature>jaxrs-1.1</feature>
        <feature>jpa-2.0</feature>
        <feature>jmsMdb-3.1</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>wasJmsClient-1.1</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

	<httpEndpoint host="*" httpPort="9080" id="defaultHttpEndpoint"/>
		
	<executor coreThreads="40" id="default" keepAlive="60s" maxThreads="50" name="LargeThreadPool" rejectedWorkPolicy="CALLER_RUNS" stealPolicy="LOCAL"/>

	<connectionManager agedTimeout="-1" connectionTimeout="0" id="conMgr1" maxIdleTime="-1" maxPoolSize="70" minPoolSize="70" purgePolicy="FailingConnectionOnly" reapTime="-1"/> 
	<connectionManager agedTimeout="-1" connectionTimeout="0" id="conMgr2" maxIdleTime="-1" maxPoolSize="50" minPoolSize="10" purgePolicy="FailingConnectionOnly" reapTime="-1"/>

	<jdbcDriver id="DerbyEmbedded" libraryRef="DerbyLib"/>
	<library filesetRef="DerbyFileset" id="DerbyLib"/>
	<fileset dir="${server.config.dir}/resources/Daytrader3SampleDerbyLibs" id="DerbyFileset" includes="derby-10.10.1.1.jar"/>

	<authData id="TradeDataSourceAuthData" password="db_password" user="db_username"/>
	<authData id="TradeAdminAuthData" password="db_password" user="db_username"/>

	<dataSource connectionManagerRef="conMgr1" id="TradeDataSource" isolationLevel="TRANSACTION_READ_COMMITTED" jdbcDriverRef="DerbyEmbedded" jndiName="jdbc/TradeDataSource" statementCacheSize="60"> 
		<properties.derby.embedded createDatabase="create" databaseName="${server.config.dir}/resources/data/tradedb" password="db_password" user="db_username"/> 
	</dataSource>

	<dataSource connectionManagerRef="conMgr2" id="NoTxTradeDataSource" isolationLevel="TRANSACTION_READ_COMMITTED" jdbcDriverRef="DerbyEmbedded" jndiName="jdbc/NoTxTradeDataSource" statementCacheSize="10" transactional="false"> 
		<properties.derby.embedded createDatabase="create" databaseName="${server.config.dir}/resources/data/tradedb" password="db_password" user="db_username"/> 
	</dataSource>

	<messagingEngine id="defaultME">
		<queue id="TradeBrokerQueue"/>
		<topicSpace id="TradeTopicSpace"/>
	</messagingEngine>

	<jmsQueueConnectionFactory connectionManagerRef="ConMgr3" jndiName="jms/TradeBrokerQCF">  
		<properties.wasJms/>
	</jmsQueueConnectionFactory> 
	<connectionManager id="ConMgr3" maxPoolSize="20"/>

	<jmsTopicConnectionFactory connectionManagerRef="ConMgr4" jndiName="jms/TradeStreamerTCF">
		<properties.wasJms/>
	</jmsTopicConnectionFactory>
	<connectionManager id="ConMgr4" maxPoolSize="20"/>

	<jmsQueue id="jms/TradeBrokerQueue" jndiName="jms/TradeBrokerQueue">
		<properties.wasJms deliveryMode="NonPersistent" queueName="TradeBrokerQueue"/>
	</jmsQueue>

	<jmsTopic id="jms/TradeStreamerTopic" jndiName="jms/TradeStreamerTopic">
		<properties.wasJms deliveryMode="NonPersistent" topicSpace="TradeTopicSpace"/>
	</jmsTopic>

	<jmsActivationSpec id="eis/TradeBrokerMDB">
		<properties.wasJms destinationRef="jms/TradeBrokerQueue"/>
	</jmsActivationSpec>

	<jmsActivationSpec id="eis/TradeStreamerMDB">
		<properties.wasJms destinationRef="jms/TradeStreamerTopic" destinationType="javax.jms.Topic"/>
	</jmsActivationSpec>
</server>